h1 {
    background: radial-gradient(circle at top left, #333333, #006d18);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    font-weight: 200;
    margin: 0;
}
h2 {
    color: rgb(138, 138, 138);
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 200;
    margin: 0;
    background: radial-gradient(circle at top left, #00658d, #252525);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: none;
    color: rgb(68, 68, 68);
    font-size: 1rem;
    letter-spacing: 0.02em;
}
body {
    margin: 0;
    min-width: 50%;
    max-width: 100%;
    height: 100%;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: rgb(49, 49, 49);
    font-size: 12px;
    line-height: 1.5rem;
}
a {
    color:rgb(0, 82, 121); 
    text-decoration: none;
    font-weight: 700;
}
.container {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    min-height: 100%;
}
.personalSection {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    padding: 8rem 3rem;
    align-items: center;
    justify-content: flex-start;
}
.infoItem {
    display: flex;
    flex-flow: column nowrap;    
    width: 85%;
    color: rgb(43, 43, 43);
    flex: 1 1 auto;
}
.titleCol {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 6rem;
    max-width: 100%;
    padding: 1rem;
}
.imgtitle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 55rem;
    max-width: 70rem;
}
.socialIcons {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: flex-start;
}
.socialIcon {
    width: 1.5rem;
    height: 1.5rem;
    padding: .4rem;
}
.socialIcon--logo {
    width: 3.5rem;
    padding-left: 1rem;
}
.socialIcon:hover {
    opacity: .4;
}
.subtitle {
    color: rgb(90, 90, 90);
    font-style:lowercase;
}
.titleCollec {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
    width: 55%;
    color: rgb(44, 44, 44);
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    font-weight: 200;
    margin: 0;
}
.name {
    color: #009420;
    font-weight: 1000;
}
.avatar {
    display: flex;
    flex-flow: column nowrap;
    width: 10rem;
    margin: .2rem;
    padding: .3rem; 
    border: 4px transparent;
    border-radius: 200px;
    background-image: radial-gradient(circle at top left, #ffffff, #ffffff, rgb(255, 255, 255), #009420, #ffffff, #005994, rgb(0, 57, 143), rgb(158, 156, 17));
	background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}
.avatar_icon {
    display: flex;
    flex-flow: column nowrap;
    width: 2.6rem;
    height: 2.6rem;
    padding: .2rem;
    margin: 0 1rem 0 0;
    border: 4px transparent;
    border-radius: 200px;
    background-image: radial-gradient(circle at top left, #ffffff, #ffffff, #2b2b2b,#004050, #004050);
	background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
}
.heroCol {
    overflow: hidden;
    z-index: -1;
    position: absolute;
    max-width: 95%;
    min-width: 84%;
}
.heroContent {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}
.heroimg {
    display: flex;
    flex: 1 1 auto;
    min-width: 18%;
    max-width: 35%;
    padding: .5rem;
    overflow: hidden;
    object-fit: cover;
    opacity: 80%;
}
.infoSection {
    display: flex;
    flex-flow: row wrap;
    min-width: 20%;
    max-width: 100%;
    min-height: 100%;
    justify-content: flex-start;
    background: linear-gradient(0.25turn, #f3f3f3, #ffffff);
    padding: .5rem 3rem;
}
.section {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    min-width: 10%;
    max-width: 43%;
    background-color: rgba(250, 250, 250, 0);
    align-items: flex-start;
    padding: 2rem;
}
.section--88 {
    max-width: 100%;
}
.section--60 {
    max-width: 60%;
    min-width: 30%;
}
.section--40 {
    max-width: 40%;
    min-width: 5%;
}
.sectionTitle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.sectionSubtitle {
    display: flex;
    flex-flow: row nowrap;
    text-transform: none;
    min-width: 50%;
    max-width: 100%;
}
.sectionIcon {
    display: flex;
    flex-flow: column nowrap;
    width: 3rem;
    height: 3rem;
    padding: 0 1rem 0 0;
}
.sectionBody {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
}
.bodyItem {
    display: flex;
    flex-flow: row wrap;
    padding-right: 1rem;
}
#firstChild {
    padding: 2rem 0 0 0;
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }
/* ----------------- Footer ------------------*/

footer {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    padding: 0 3rem 3rem 3rem;
    background-color: rgb(233, 233, 233);
}
.footerSectionTitle {
    font-style: normal;
    font-size: 1.5rem;
}
.footerContent {
    line-height: .9rem;
}
.footerSection {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    padding: 2rem;
}
.superfooterSection {
    display: flex;
    width: 100%;
    flex: 0 1 auto;
    flex-flow: row nowrap;
    padding: 0 2rem;
    background-color: rgb(233, 233, 233);
}

/* ------------- MEDIA QUERIES ---------------*/

@media (max-width: 1470px) {
    
    .heroimg {
        max-width: 98%;
        min-width: 5%;
        opacity: 10%;
    }
}

@media (max-width: 1163px) {
    .section {
        max-width: 100%;
    }
}
@media (max-width: 1053px) {
    .avatar {
        width: 8rem;
    }
}
@media (max-width: 883px) {
    .avatar {
        margin: 2rem 2rem 2rem 0;
    }
    .container {
        flex-flow: column wrap;
    }
    .title {
        font-size: 2.5rem;
    }
    .personalSection {
        flex-flow: initial;
        padding: 0 3rem 0 3rem;
    }
    .heroCol {
        float: left;
    }
    .infoSection {
        flex-flow: column;
    }
    .titleCol {
        padding: 2rem;
    }
    .titleCollec {
        width: 100%;
        padding: 0 1rem 1rem 1rem;
    }
    .heroimg {
        width: 150%;
    }
    .heroContent {
        width: 150%;
    }
}
@media (max-width: 695px) {
    .heroimg {
        display: none;
    }
}
@media (max-width: 550px) {
    .avatar {
        width: 8rem;
        margin: 1rem;
    }
    .heroContent {
        width: 100%;
        display: none;
    }
    .personalSection {
        flex-flow: initial;
        padding: 1.5rem 3rem 1.5rem 3rem;
    }
    .titleCol {
        justify-content: center;
        padding: 0;
    }
    .titleCollec {
        padding: 0;
    }
    .container {
        display: flex;
        flex: 1 1 auto;
        flex-flow: column nowrap;
        min-height: 100%;
    }
    footer {
        display: flex;
        flex: 1 1 auto;
        flex-flow: row wrap;
        margin: 0;
        background-color: rgb(233, 233, 233);
    }
    .footerSection {
        padding: 2rem 0rem;
    }
    .infoSection {
        padding: 0;
    }
}