h1 {
    color: white;
    font-family: 'Montserrat';
}
body {
    padding: 0;
    margin: 0;
}
.text {
    font-family: sans-serif;
    color: aliceblue;
}
.container {
    display: grid;
    grid-template-columns: minmax(auto, 30%) minmax(auto, 100%);
    grid-template-rows: minmax(auto, 100%) minmax(auto, 100%);

}
.main-col-1 {
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 2rem;
    justify-items: center;
}
.main-col-2 {
    background-color: cyan;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 2rem;
    justify-items: center;
}
.item {
    max-width: 100%;
    min-width: 10%;
    height: 33%;
    justify-items: center;
}
.item-flat {
    max-width: 100%;
    min-width: 10%;
    justify-items: center;
    display: inline;
}
.profile-image {
    max-width: 10rem;
    max-height: 10rem;
    min-width: 5rem;
    min-width: 5rem;
    justify-items: center;
}