h1 {
    background: radial-gradient(circle at top left, #333333, #009420);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    font-weight: 200;
    margin: 0;
}
h2 {
    color: rgb(138, 138, 138);
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    font-weight: 200;
    margin: 0;
    font-style: italic;
}
h3 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: none;
    color: rgb(44, 63, 44);
    font-size: 1rem;
    letter-spacing: 0.02em;
}
body {
    margin: 0;
    min-width: 50%;
    max-width: 100%;
    height: 100%;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: rgb(49, 49, 49);
    font-size: 12px;
    line-height: 1.5rem;
}
.container {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    min-height: 100%;
    padding: 3rem;
}
.personalSection {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    padding: 8rem 0rem;
    align-items: center;
    justify-content: flex-start;
}
.infoItem {
    display: flex;
    flex-flow: column nowrap;    
    width: 85%;
    color: rgb(43, 43, 43);
    flex: 1 1 auto;
}
.titleCol {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 6rem;
    max-width: 70rem;
    padding: 1rem;
}
.imgtitle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 55rem;
    max-width: 70rem;
}
.subtitle {
    color: rgb(90, 90, 90);
    font-style:lowercase;
}
.title {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Open Sans', sans-serif;
    width: 85%;
    color: rgb(44, 44, 44);
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    font-weight: 200;
    margin: 0;
}
.titleCollec {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
    width: 55%;
    color: rgb(44, 44, 44);
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
    font-weight: 200;
    margin: 0;
}
.name {
    color: #009420;
    font-weight: 1000;
}
.avatar {
    display: flex;
    flex-flow: column nowrap;
    width: 10rem;
    margin: .2rem;
    padding: .3rem; 
    border: 4px transparent;
    border-radius: 200px;
    background-image: radial-gradient(circle at top left, rgb(0, 175, 23), rgb(255, 255, 255), #009420, rgb(158, 156, 17));
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}
.heroCol {
    overflow: hidden;
    z-index: -1;
    position: absolute;
    max-width: 95%;
    min-width: 84%;
}
.heroContent {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}
.heroimg {
    min-width: 18%;
    max-width: 25%;
    padding: .5rem;
    overflow: hidden;
    transform-origin: left top;
    transform: rotate(9deg);
    object-fit: cover;
    object-position: 20%; 
    background-image: radial-gradient(circle at top left, #009420, rgb(255, 255, 255));
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}
.infoSection {
    display: flex;
    flex-flow: row wrap;
    min-width: 20%;
    max-width: 100%;
    min-height: 100%;
    justify-content: flex-start;
}
.section {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    min-width: 30%;
    max-width: 43%;
    background-color: white;
    align-items: flex-start;
    padding: 2rem 2rem 0 2rem;
    border: grey 1rem;
}
.section--88 {
    max-width: 88%;
    min-width: 88%;
}
.section--60 {
    max-width: 60%;
    min-width: 30%;
}
.section--40 {
    max-width: 40%;
    min-width: 5%;
}
.sectionTitle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.sectionSubtitle {
    display: flex;
    flex-flow: row nowrap;
    text-transform: none;
    min-width: 50%;
    max-width: 100%;
}
.sectionIcon {
    display: flex;
    flex-flow: column nowrap;
    width: 3rem;
    height: 3rem;
    padding: 0 1rem 0 0;
    fill: blue;
}
.sectionBody {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
}
.bodyItem {
    display: flex;
    flex-flow: row wrap;
    padding-right: 1rem;
}
#firstChild {
    padding: 2rem 0 0 0;
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
  }

@media (max-width: 1163px) {
    .section {
        max-width: 100%;
    }
    .heroimg {
        max-width: 20%;
        min-width: 5%;
    }
    .personalSection {
        padding: 6rem 0rem 6rem 0rem;
    }
}
@media (max-width: 1053px) {
    .avatar {
        width: 8rem;
    }
}
@media (max-width: 983px) {
    .avatar {
        margin: 2rem;
    }
    .container {
        flex-flow: column wrap;
    }
    .title {
        font-size: 2.5rem;
    }
    .personalSection {
        flex-flow: initial;
        padding: 0;
    }
    .heroCol {
        float: left;
        padding: 0;
    }
    .infoSection {
        flex-flow: column;
    }
    .titleCol {
        padding: 2rem;
    }
    .titleCollec {
        width: 76%;
        padding: 0;
    }
    .heroimg {
        min-width: 20%;
        max-width: 30%;
        padding: .5rem;
        overflow: hidden;
        opacity: 15%;
        transform-origin: left top;
        transform: rotate(9deg);
        object-fit: cover;
        object-position: 20%; 
        /* background-image: radial-gradient(circle at top left, #00a39b, rgb(255, 255, 255));
        background-size: 400% 400%;
        animation: gradientBG 15s ease infinite; */
    }
}
@media (max-width: 550px) {
    .avatar {
        width: 8rem;
        margin: 1rem;
    }
    .titleCol {
        justify-content: center;
        padding: 0;
    }
    .titleCollec {
        padding: 0;
    }
    .heroimg {
        display: none;
    }
    .container {
        display: flex;
        flex: 1 1 auto;
        flex-flow: column nowrap;
        min-height: 100%;
        padding: 1rem;
    }
}